[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
ExecStart=/opt/node_exporter/node_exporter-1.8.2.linux-amd64/node_exporter
Restart=always
User=root

[Install]
WantedBy=multi-user.target