standby_mode = 'on'
primary_conninfo = 'host={{ hostvars['postgres_master'].ansible_facts['default_ipv4']['address'] }} port=5432 user=postgres password=secure_password'
trigger_file = '/tmp/postgresql.trigger.5432'